@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<hr />
<p>There are 3 levels of membership in this web application (Admin, Teacher, and Student).
    Each level of membership has unique functionlity. Student membership is allowed to view, enroll, and purchase classes.
    Teacher membership is allowed to create and edit classes that they have created. Admin membership is allowed to delete classes.</p>

<br />
<h3>General Technologies:</h3>
<hr />
<ul>
    <li>ASP.NET MVC 5</li>
    <li>Web Api</li>
    <li>SQL Server</li>
    <li>Azure Hosted</li>
    <li>Jquery</li>
    <li>Bootsrap</li>
    <li>Razor</li>
    <li>Entity Framework</li>
    <li>Redis for caching data to increase performance</li>
    <li>Payment through a credit card service</li>
    <li>Oauth through facebook</li>
</ul>
