
@{
    ViewBag.Title = "ProcessCreditResponse";
}


<h2>@ViewBag.TransactionStatus </h2>
<h2>@ViewBag.CourseName</h2>


<fieldset class="form-group">

<a href="/Home/Courses/" type="button" class="btn btn-info btn-lg"> OK</a>

</fieldset>